<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to my First Springboot Page!</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div align="center">
    <h1>Index Page</h1>
    <!--    <h1></h1><a href="/vipMain">click to vip main</a></h1>-->
    <!--    <button type="button" class="btn btn-primary">original button</button>-->
</div>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Index Page!</h1>
        <p>This is a webpage introducing about Reward System and VIP System.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/about">
            Click to view</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Index</h3>
            <p>This is the Index about the introduction</p>
            <p>Welcome 👏🏻👏🏻👏🏻👏🏻</p>
        </div>
        <div class="col-sm-4">
            <h3>Reward System</h3>
            <p>Users can use shopping vouchers to shop</p>
            <p>Lowest Discounts on Everyday Items!</p>
        </div>
        <div class="col-sm-4">
            <h3>VIP System</h3>
            <p>Users can get more services by using VIP</p>
            <p>Events, Advance Reservation, Extra Menu Everything!</p>
        </div>
    </div>
</div>

</body>

</html>