<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


<div class="container-fluid">
    <div class="myForm">
        <div class="text-center mytext">
            <h2>[[${pageTitle}]]</h2>
        </div>
        <form th:action="@{/premium/save}" method="post" th:object="${premium}"
              style="max-width: 500px; margin: 0 auto;">
            <!--这里实在controller 里面新增设置的vipUser-->
            <!--很重要不能漏-->

            <div class="border border-secondary rounded p-3">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">User ID:</label>
                    <div class="col-sm-8">
                        <input type="number" th:field="*{userID}" class="form-control" id="inputUserID" required />
                        <!--这里对应的是entity的email-->
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">VIP ID:</label>
                    <div class="col-sm-8">
                        <input type="number" th:field="*{vipID}" id="inputVipID" class="form-control" required />
                        <!--这里对应的是entity的email-->
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>
                </div>

            </div>
        </form>
    </div>
</div>
<h1 class="hiddenText">[[${pageTitle}]]</h1>
<h1 class="hiddenText" id="vipNameID">[[${vipID}]]</h1>
<h1 class="hiddenText" id="userID">[[${userID}]]</h1>

<script type="text/javascript">
    function cancelForm () {
        window.location = "[[@{/premium}]]";
    }

    window.onload = function () {

        document.getElementById("inputUserID").value = document.getElementById("userID").innerText
        document.getElementById("inputVipID").value = document.getElementById("vipNameID").innerText

        // alert("页面加载完成====》onload");
    }

</script>

<style>
    .myForm {
        margin-top: 100px;
        margin-left: 15%;
        padding: 20px;
        border-radius: 20px;
        width: 70%;
        height: 500px;
        text-align: center;
        box-shadow: 0 0 50px #F3F1F1
    }

    .mytext {
        margin-top: 100px;
    }

    .hiddenText{
        color: white; text-indent:-9999px;
    }
</style>
</body>

</html>